@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'RaleWay','sans-seriff';
  
}
.navbar{
box-shadow: 0px 0px 10px black;
  
}
.navbar .nav-items{
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.item{
  font-weight: 1000;
  cursor: pointer;
}
.navbar .nav-items a{
  list-style-type: none;
  text-decoration: none;
  color: black;
 
}
.img-logo{
  margin-left: -50px;
  cursor: pointer;
}
.Home-container{
  display: flex;
  justify-content: space-between;

}

.home-image img{
  height: 680px;
  width: 50vw;
  animation: fadeInText 1s ease-in-out forwards;
}
.home-text{
  display: flex;
  align-items: center;
  margin-top: -100px;
}
.text1{
  font-weight: bolder;
  font-size: 50px;
  margin-left: 20px;
  animation: fadeInText 1s ease-in-out forwards;
}
@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Optional: Add a slight upward movement */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dummy-div {
  width: 100vw;
  height: 150px;
  background-color: rgb(128, 192, 224);
  position: relative;
  z-index: 0;
}

.selection {
  width: 100vw;
  height: auto;
  margin-top: 100px;
  position: absolute;
  left: 50%; /* Move the div to the center horizontally */
  transform: translateX(-50%); /* Adjust horizontally to center */
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}
.functionality{
  position: absolute;
  width: 70vw;
  height: 50px;
  margin-left: 300px;
  background-color: white;
  margin-top: 40px;
  display: flex ; 
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(128, 192, 224);
  border-radius: 10px 10px 10px 10px;


}